* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;

  font-size: 36px;
  font-weight: bold;
  color: red;
}

input {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  border-color: darkgreen;
}

button {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 22px;
  font-size: 16px;
  padding: 10px 32px;
  color:gold;
  background-color: blue;
  font-weight: bold;
  margin-top: 30px;  
}

button:hover,
button:focus {
  background-color:gold;
  color: blue;
}

.form input{
  display: inline-block;
}